a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: black;
  display: block;

  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

li a {
  color: black;
}

li:hover,
ul li ul li:focus-within {
  background-color: aliceblue;
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: -300px;
  display: none;
  box-shadow: rgb(0 0 0 / 6%) 0px 2px 19px 0px !important;
  width: 391px;
  padding: 12px 0;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}
